body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #fefefe;
    background-color: #000;
    margin: 0;
    padding: 0;
}

/* Header */

/* File Select */

#file-select {
    display: flex;
    justify-content: center;
    align-items: center;
}

#file-select input[type="file"] {
    display: none;
}

#file-select label.custom-file-upload,
#audio-player label.custom-file-upload {
    border: none;
    margin: 0.5rem;
    display: inline-block;
    padding: 0.25rem 1rem;
    background-color: #333;
    color: #fefefe;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    text-overflow: hidden;
    white-space: nowrap;
    border-radius: 3px;
    transition: background-color 0.3s;
    font-size: small;
}

#file-select button,
#audio-player button {
    display: none;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* audio player */

#audio-player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#audio-player input[type="range"]#seek-slider {
    width: 30vw;
}
