body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #fefefe;
    background-color: #000;
    margin: 0;
    padding: 0;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}